# Solana RPC endpoint URL - default is public endpoint
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com

# Database URL - default is SQLite
DATABASE_URL=sqlite:hackerdex.db

# Debug logging (true/false or 1/0)
DEBUG=false

# Maximum number of retries for RPC requests
MAX_RETRIES=3

# OSINT crawler user agent
CRAWLER_USER_AGENT=HackerDex/0.1.0

# OSINT ChainAbuse Api
CHAINABUSE_API=ca_123superlongstring

# Path to heuristic weights configuration file (TOML or JSON)
HEURISTIC_WEIGHTS_PATH=config/heuristic_weights.toml
